.gradient-background {
    background: rgb(16,64,59);
    background: linear-gradient(301deg, rgba(16,64,59,1) 0%, rgba(18,115,105,1) 100%);
}

/* 
============================================================================
LANDING SECTION 
*/

.landing-container {
    color: white;
    text-align: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

.landing-name {
    font-family: 'Sacramento', cursive;
    font-size: 120px;
    margin-top: 20px;
    margin: 1px solid white;
}

.landing-container p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
    padding: 0 25%;
}

/* 
============================================================================
RESUME SECTION
*/
.icon-background {
    border-radius: 20%;
    width: fit-content;
    background-color: #127369;
}

.material-symbols-outlined {
    color: white;
    padding: 5px;
}

.resume-title {
    font-family: 'Sacramento', cursive;
    font-size: 45px;
}

.resume-content {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

/* 
============================================================================
PORTFOLIO SECTION 
*/

.portfolio-heading {
    font-family: 'Sacramento', cursive;
    font-size: 80px;
}

.portfolio-heading-wd {
    color: #127369;
    font-weight: bold;
}


@media (max-width: 768px) {
    .portfolio-heading {
        font-size: 60px; /* Adjust the font size for smaller screens */
    }
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.tindog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 30px 50px;
    gap: 20px;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

.tindog > .tin-text > h1 {
    color: #10403B;
}

.tindog > img {
    grid-area: 1 / 1 / 1 / 2;
    height: 500px;
    width: 600px;
}

.tin-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: 1 / 2 / 1 / 3;
}

.devcom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 30px 50px;
    gap: 20px;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

.dev-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: 1 / 1 / 1 / 2;
}

.devcom > .dev-text > h1 {
    color: #10403B;
}

.devcom > img {
    grid-area: 1 / 2 / 1 / 3;
    height: 500px;
    width: 600px;
}

.mondrian {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 30px 50px;
    gap: 20px;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

.mondrian > img {
    grid-area: 1 / 1 / 1 / 2;
    height: 500px;
    width: 600px;
}

.mondrian > .mon-text > h1 {
    color: #10403B;
}

.mon-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: 1 / 2 / 1 / 3;
}

@media (min-width: 319px) and (max-width: 1300px){
    .portfolio-container > .portfolio-heading {
        text-align: center;
    }
    
    .tindog {
        display: flex;
        flex-direction: column;
        padding-bottom: 70px;
    }

    .tindog > img {
        height: 300px;
        width: 300px;
    }

    .tin-text {
        text-align: center;
        padding: 0px 50px;
    }

    .devcom {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }

    .devcom > img {
        height: 300px;
        width: 300px;
        order: -1;
    }

    .dev-text {
        text-align: center;
        padding: 0px 50px;
    }

    .mondrian {
        display: flex;
        flex-direction: column;
        padding-bottom: 70px;
    }

    .mondrian > img {
        height: 300px;
        width: 300px;
    }

    .mon-text {
        text-align: center;
        padding: 0px 50px;
    }

}

/*portfolio headings*/
/* .custom-heading {
    font-family: 'Quicksand', sans-serif !important;
    font-size: 40px !important;
} */

/*portfolio body*/
/* .custom-body {
    font-family: 'Quicksand', sans-serif !important;
    font-size: 20px !important;
} */

/* 
============================================================================
ABOUT ME SECTION
*/

.about-heading {
    font-family: 'Sacramento', cursive;
    font-size: 80px;
}

.about-heading-md {
    color: #127369;
    font-weight: bold;
}

.about-body {
    font-family: 'Quicksand', sans-serif;
}

.about-container {
    display: flex;
    flex-direction: column;
}

.about-body {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0px 50px;
}

.chess {
    grid-area: 1 / 1 / 1 / 2;
}

.chess > img {
    height: 500px;
    width: 600px;
}

.surfing {
    grid-area: 1 / 2 / 1 / 3;
    padding-right: 50px;
}

.surfing > img {
    height: 500px;
    width: 600px;
    text-align: center;
}

.surfing > p {
    padding-bottom: 48px;
}

@media (min-width: 319px) and (max-width: 1300px){
    .about-container {
        display: flex;
        flex-direction: column;
    }
    
    .about-heading {
        text-align: center;
    }

    .about-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0px 50px;
    }

    .chess {
        padding-bottom: 30px;
    }

    .chess > img {
        height: 300px;
        width: 300px;
    }

    .surfing > img {
        height: 300px;
        width: 300px;
    }
}

/* 
============================================================================
FOOTER SECTION
*/
.footer-container {
    font-family: 'Quicksand', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px 50px; 
    gap: 50px;
}

.copyright {
    grid-area: 1 / 1 / 1 / 2;
}

.logos {
    display: flex;
    justify-content: end;
    padding-right: 50px;
}

.contact-logos {
    grid-area: 1 / 2 / 1 / 3;
}
